{% extends "layout.html" %}
{% block title %}Assignment{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Help</h1>
<div>
    <p>This is an implementation of a MCMC based decryption algorithm for aristocrat cryptograms. The project was conducted as part of an MIT class. There were two parts to the project: a part where a breakpoint is allowed and a part where a breakpoint is not allowed (i.e. the key does not change). For this webapp, we only demonstrate the functionality of the latter. Some tips for how to use the tool:    </p>

    <ul>
        <li> Spaces and periods are included in the encryption algorithm. No letter may encrypt to itself.
        <li> The input ciphertext must be lowercase.
        <li> The decryption algorithm may take up to a minute so be patient 😃
    </ul>
</div>
{% endblock %}
{% block end %}
{% endblock %}